
<app-sidebar></app-sidebar>
<div class="container">
        <div class="payment-container">
            <h2>Payment Details</h2>
            <!-- <div class="download-all-container">
              <button class="download-all-btn" (click)="generateAllPDFs()">
                <i class="bi bi-download"></i> Download 
              </button>
            </div> -->
            
              <div class="filters-container">
                <div class="filters">
                  <input type="text" placeholder="Search Transaction ID or Meter Number" [(ngModel)]="searchTerm" (input)="filterPayments()" />
                  <select [(ngModel)]="selectedPaymentMethod" (change)="filterPayments()">
                    <option value="">All Payment Methods</option>
                    <option *ngFor="let method of paymentMethods" [value]="method">{{ method }}</option>
                  </select>
                </div>
                <button class="download-all-btn" (click)="generateAllPDFs()">
                  <i class="bi bi-download"></i> Download 
                </button>
              </div>
            <table>
            <thead>
                <tr>
                <th>Transaction ID</th>
                <th>Meter Number</th>
                <th>Unit Consumed</th>
                <th>Billing Month</th>
                <th>Due Date</th>
                <th>Total Bill Amount</th>
                <!-- <th>Amount Paid</th> -->
                <th>Discount Applied</th>
                <th>Final Amount Paid</th>
                <th>Payment Method</th>
                <th>Payment Date</th>
                <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let payment of payments">
                <td>{{ payment.transactionId }}</td>  <!-- Updated -->
                <td>{{ payment.meterNumber }}</td>
                <td>{{ payment.unitConsumed }}</td>
                <td>{{ payment.billingMonth }}</td>
                <td>{{ payment.dueDateFormatted }}</td>
                <td class="total-amount">₹{{ payment.totalBillAmount | number: '1.2-2' }}</td>
                <!-- <td>₹{{ payment.amountPaid | number: '1.2-2' }}</td> -->
                <td class="discount">₹{{ payment.discountApplied | number: '1.2-2' }}</td>
                <td class="final-amount">₹{{ payment.finalAmountPaid | number: '1.2-2' }}</td>
                <td>{{ payment.paymentMethod }}</td>
                <td>{{ payment.paymentDateFormatted }}</td>
                <td>
                    <button class="pdf-btn" (click)="generatePDF(payment.transactionId)">
                      <i class="bi bi-file-earmark-pdf-fill"></i>
                    </button>
                  </td>
                </tr>
            </tbody>
            </table>
        </div>

    
</div>