<app-sidebar></app-sidebar>

<div class="reports-container">
  <!-- Top Stats Section -->
  <div class="stats-section">
    <div class="stats-card">
      <p>WALLET</p>
      <h2>{{ walletBalance | currency:'INR' }}</h2>
      <button class="btn btn-primary" (click)="openAddMoneyDialog('wallet')">Add Money</button>
    </div>
  </div>

  <!-- Main Reports Section -->
  <div class="main-reports">
    <div class="left">
      <div class="chart-card">
        <h3>Monthly Payment</h3>
        <canvas id="barChart"></canvas>
      </div>
    </div>
    <div class="right">
      <div class="chart-card">
        <h3>Monthly Unit Consumed</h3>
        <canvas id="lineChart"></canvas>
      </div>
    </div>
  </div>


    <div class="recent-payments-card">
      <app-recent-payment></app-recent-payment>
    </div>
</div>
