<app-sidebar></app-sidebar>

<div class="profile-container">
  <div class="header">
    <div>
      <h2 class="title">Customer Profile</h2>
      <span class="branch">Lalitpur Branch</span>
    </div>
    <div class="search-bar">
      <i class="fa fa-search"></i>
      <div class="profile-icon"></div>
    </div>
  </div>

  <div class="profile-wrapper">
    <div class="profile-card">
      <div class="profile-header">
        <div class="profile-image">
          <img src="assets/albert-dera-ILip77SbmOE-unsplash.jpg" alt="Profile Picture">
        </div>
      </div>

      <div class="profile-details" *ngIf="customer">
        <p><strong>Customer ID:</strong> {{ customer.customerId }}</p>
        <p><strong>Name:</strong> {{ customer.name }}</p>
        <p><strong>Email:</strong> {{ customer.email }}</p>
        <p><strong>Phone Number:</strong> {{ customer.phoneNumber }}</p>
        <p><strong>Address:</strong> {{ customer.address }}</p>
        <p><strong>Meter Number:</strong> {{ customer.meterNumber }}</p>
        <p><strong>Connection Type:</strong> {{ customer.connectionType }}</p>
      </div>

      <!-- <button class="edit-btn btn btn-primary" (click)="openEditModal()">Edit</button> -->

      
    </div>
  </div>
</div>
