
<app-sidebar></app-sidebar>
<div class="container">

    <div class="header">
        <h2>Profile</h2>
        <!-- <span class="branch">Lalitpur Branch</span> -->
    </div>


    <div class="profile-container">
        <div class="profile-card">
          <div class="profile-header">
            <h2>Your Profile</h2>
            <div class="profile-image">
              <!-- <img src="../../../Assets/charlesdeluvio-kVg2DQTAK7c-unsplash.jpg" alt="Profile Picture"> -->
            </div>
          </div>
          
          <div class="profile-details">
            <p><strong>Admin id:</strong> 110A</p>
            <p><strong>Name:</strong> Adela Parkson</p>
            <p><strong>Address:</strong> Khumaltar, Lalitpur</p>
            <p><strong>Contact No.:</strong> 9841236978</p>
            <p><strong>Email:</strong> Adela98gmail.com</p>
            <p><strong>Password:</strong> ********</p>
          </div>
      
          <button class="edit-btn">Edit</button>
        </div>
      </div>
      
</div>