<div class="sidebar">
    <div class="logo">
        <span class="bulb">💡</span>
        <h1>BBC Ops</h1> 
    </div>
    <ul class="menu">
        <li routerLink="/dashboard" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <i class="fas fa-home"></i>
            <span>Dashboard</span>
        </li>
        <li routerLink="/report" routerLinkActive="active">
            <i class="fas fa-chart-bar"></i>
            <span>Reports</span>
        </li>
        <li routerLink="/paybills" routerLinkActive="active">
            <i class="fas fa-user"></i>
            <span>Pay Bills</span>
        </li>
        <li routerLink="/bills" routerLinkActive="active">
            <i class="fas fa-file-invoice"></i>
            <span>Bills</span>
        </li>
        <li routerLink="/profile" routerLinkActive="active">
            <i class="fas fa-user-circle"></i>
            <span>Profile</span>
        </li>
    </ul>
    <button class="logout">Logout</button>
</div>