/* You can add global styles to this file, and also import other style files */
@import 'ngx-toastr/toastr';

.toast-container {
  z-index: 99999 !important; 
  position: fixed !important;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* Success Snackbar */
.success-snackbar {
  background-color: #4caf50 !important; 
  color: white !important;
  font-weight: bold;
}

/* Error Snackbar */
.error-snackbar {
  background-color: #f44336 !important; 
  color: white !important;
  font-weight: bold;
}

/* Warning Snackbar */
.warning-snackbar {
  background-color: #ff9800 !important; 
  color: white !important;
  font-weight: bold;
}
